<nav class="navbar navbar-fixed-top tdNg-navbar">
  <div class="tdNg-flex-row-center">
    <div class="navbar-brand d-none d-sm-block tdNg-navbar-brand">Backlog Manger</div>
    <div>
      <td-add-board-base>
        <td-button icon="columns">Add Card Wall</td-button>
      </td-add-board-base>
    </div>
  </div>
  <div class="tdNg-flex-row-center">
    <div class="tdNg-backlog-toolbar"><td-backlog-move-toolbar></td-backlog-move-toolbar></div>
    <div class="d-none d-lg-block"><td-filter-toolbar></td-filter-toolbar></div>
    <div class="d-none d-lg-block gutter-left">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><span class="fa fa-search fa-nopad" aria-hidden="true"></span></div>
        </div>
        <input type="text" aria-label="Search" class="form-control" placeholder="Placeholder for filter" />
      </div>
    </div>
    <div class="tdNg-navbar-hamburger-container"><td-button icon="bars"></td-button></div>
  </div>
</nav>
