<nav class="navbar fixed-top tdNg-navbar">
  <div class="tdNg-flex-row-center">
    <div class="navbar-brand d-none d-sm-block tdNg-navbar-brand">Backlog Manger</div>
    <div>
      <td-add-board-base>
        <td-button icon="columns">Add Card Wall</td-button>
      </td-add-board-base>
    </div>
  </div>
  <div class="tdNg-flex-row-center">
    <div class="tdNg-backlog-toolbar"><td-backlog-move-toolbar></td-backlog-move-toolbar></div>
    <div class="d-none d-lg-block">
      <td-card-search-base></td-card-search-base>
    </div>
    <div class="tdNg-navbar-hamburger-container" (click)="navHamburgerClicked()"><td-button icon="bars"></td-button></div>
  </div>
</nav>
