<td-subtasks-view
  *ngIf="!(loading$ | async); else loading"
  [subtasks]="subtasks$ | async"
  [errors]="error$ | async"
  [saving]="saving$ | async"
  [owners]="card.owners"
  (updateSubtask)="updateSubtask($event)"
  (sortSubtasksRequested)="updateSubtaskOrder($event)"
  (promoteSubtaskRequested)="promoteSubtask($event)"
  (createSubtaskRequested)="createSubtask($event)"
></td-subtasks-view>

<ng-template #loading>
  <div class="td-icon td-loading" style="min-height: 493px;"></div>
</ng-template>
