<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text"><span class="fa fa-search fa-nopad" aria-hidden="true"></span></div>
  </div>
  <ng-select
    class="select-sm"
    [items]="resources"
    [multiple]="true"
    [closeOnSelect]="false"
    bindLabel="name"
    placeholder="Search Resources"
    [clearSearchOnAdd]="true"
    (change)="searchResource($event)"
  >
    <ng-template ng-multi-label-tmp let-resources="items" let-clear="clear">
      <div class="d-flex align-items-center ng-value" *ngFor="let resource of resources ? resources.slice(0, 4) : []">
        <span class="ng-value-label tdNg-flex-row-center">
          <td-profile-image [resource]="resource" imgClass="dropdown"></td-profile-image>
        </span>
        <!-- Clear is callable. Known bug https://github.com/angular/angular/issues/16643 -->
        <span class="ng-value-icon right" (click)="clear(resource)" aria-hidden="true">×</span>
      </div>

      <div class="ng-value" *ngIf="resources.length > 4">
        <span class="ng-value-label">{{ resources.length - 4 }} more...</span>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-resource="item">
      <div class="d-flex">
        <td-profile-image class="mr-2" [resource]="resource" imgClass="dropdown"></td-profile-image>
        {{ resource.name }}
      </div>
    </ng-template>
  </ng-select>
</div>
