<!-- default options item template -->
<ng-template #tdTemplate let-item="item">
  {{ getDisplayValue }}
</ng-template>

<div class="tdNg-wrap">
  <input
    #inputField
    class="{{ inputClass }}"
    type="text"
    placeholder="{{ inputPlaceholder }}"
    aria-label="inputLabel"
    [attr.disabled]="disabledField === 'disable' ? 'disable' : null"
    [(ngModel)]="currVal"
    (keydown)="onKeyDown($event)"
    (blur)="onFieldBlur($event)"
    (focus)="onFieldFocus()"
  />

  <div class="tdNg-icons">
    <span *ngIf="loading" class="{{ loadingIconClass }}" aria-hidden="true"></span>
    <span *ngIf="!loading && hideList && clearButton">
      <span
        *ngIf="currVal !== undefined"
        (click)="removeSelected()"
        style="margin-left: -35px; padding-bottom: 14px;"
        class="tdNg-remove glyphicon glyphicon-remove"
        aria-hidden="true"
      ></span>
    </span>
    <span *ngIf="!loading && hideList" (click)="onTriggerClick()" class="{{ triggerIconClass }}"></span>
    <span *ngIf="!loading && !hideList" class="{{ triggerIconClass }} up"></span>
  </div>

  <div
    class="tdNg-combo-list"
    *ngIf="listData && !hideList"
    (mouseenter)="onMouseEnterList($event)"
    (mouseleave)="onMouseLeaveList($event)"
  >
    <div class="no-matches" *ngIf="noMatchesText && !data">{{ noMatchesText }}</div>
    <div
      *ngFor="let item of listData; let index = index"
      [ngClass]="{ item: true, marked: isMarked(item), disabled: isDisabled(item) }"
      (click)="onItemClick(index, item)"
    >
      <ng-template
        [ngTemplateOutlet]="dropDownMenuTemplate || tdTemplate"
        [ngTemplateOutletContext]="{ item: item, nameField: nameField }"
      ></ng-template>
    </div>
  </div>
</div>
