$bootstrapBlue: #007bff;
$bootstrapDanger: #d9534f;
$bootstrapSuccess: #5cb85c;
$highlightBlue: #0072C6;
$tdGrey: #646464;
$lightGrey: #f5f5f5;
$grey: #dcdcdc;
$darkGrey: #cdcdcd;
$borderGrey: #ccc;
$highlightGrey: #ddd;
$dragging-blue: #d9edf7;
$background: #fff;

$accessibleBlueHover: #0064d0;
$accessibleBlue: #006cdf;
$toolbarBlue: #285f8f;
$info: #0f7492;

// Card colors
$card-primary: #f7d890;
$card-primary-border: #f7d890;
$card-success: #c3f7b0;
$card-success-border: #c3f7b0;
$card-info: #c9e6f5;
$card-info-border: #c9e6f5;
$card-warning: #f8efbf;
$card-warning-border: #f8efbf;
$card-danger: #f5c7c7;
$card-danger-border: #f5c7c7;

// Priority Colors
$priority-high: #f97b7c;
$priority-med-high: #fcb488;
$priority-med: #ffed92;
$priority-med-low: #bad989;
$priority-low: #75c68b;

$break-huge: '(min-width: 2000px)';
$break-extra-wide-to-huge: '(max-width: 2000px) and (min-width: 1140px)';
$break-extra-wide-up: '(min-width: 1140px)';
$break-extra-wide-to-wide: '(max-width: 1141px) and (min-width: 1024px)';
$break-wide: '(max-width: 1023px)';
$break-wide-to-narrow: '(max-width: 1024px) and (min-width: 768px)';
$break-extra-wide-to-narrow: '(max-width: 1141px) and (min-width: 768px)';
$break-narrow: '(max-width: 767px)';
$break-extra-narrow: '(max-width: 520px)';
$break-extra-wide-up: '(min-width: 1141px)';
$break-wide-up: '(min-width: 1024px)';
$break-narrow-up: '(min-width: 768px)';
$break-extra-narrow-up: '(min-width: 521px)';
