<div class="tdNg-toolbar">
  <button
    type="button"
    class="btn btn-link tdNg-toolbar-btn"
    [ngClass]="showResources ? 'active' : null"
    tdTooltip="Shows or hides the resources sidebar"
    placement="left"
    (click)="showResourcesRequested()"
  >
    <span class="fa fa-fw fa-users" aria-hidden="true"></span>
    Resources
  </button>

  <button
    type="button"
    class="btn btn-link tdNg-toolbar-btn"
    [ngClass]="showTotals ? 'active' : null"
    style="margin-top: 89px;"
    tdTooltip="Shows or hides the totals sidebar"
    placement="left"
    (click)="showTotalsRequested()"
  >
    <div>
      <span class="fa fa-fw fa-calculator" aria-hidden="true"></span>
      Totals
    </div>
  </button>
</div>

<div *ngIf="showResources">
  <td-backlog-resource-controller [plans]="plans" (showResourcesRequested)="showResourcesRequested()"></td-backlog-resource-controller>
</div>

<div *ngIf="showTotals">
  <td-backlog-totals [plans]="plans" (closeTotalsRequested)="showTotalsRequested()"></td-backlog-totals>
</div>
