<td-slide-in-view-container>
  <div class="slide-in-content">
    <div class="row">
      <div class="col-md-12 gutter-bottom-sm">
        <h2>{{ mode === 'move' ? 'Move' : 'Copy' }} Card</h2>
      </div>
    </div>
    <div *ngIf="(error$ | async)">
      <div class="alert alert-danger" role="alert">There was an error</div>
    </div>
    <div *ngIf="!(loading$ | async); else loading">
      <td-copy-move-card-view
        [projects]="projects$ | async"
        [plans]="plans$ | async"
        [lists]="lists$ | async"
        [plansLoading]="plansLoading$ | async"
        [listsLoading]="listsLoading$ | async"
        [card]="card"
        (projectChanged)="fetchPlans($event)"
        (planChanged)="fetchLists($event)"
        (closeCopyMoveSliderRequested)="hide()"
        (saveRequested)="copyMoveCard($event)"
      ></td-copy-move-card-view>
    </div>
    <ng-template #loading>
      <div class="loading-component-container">
        <span class="td-icon td-loading"></span>
      </div>
    </ng-template>
  </div>
</td-slide-in-view-container>
