<div class="container-fluid no-gutters no-padding">
  <div
    class="row no-gutters align-items-center tdNg-backlog-card-row"
    [ngClass]="{ TDAlternatingRow: isOdd, 'bg-white': !isOdd, 'tdNg-card-selected': isSelected }"
    (click)="selectCard()"
  >
    <div class="col-8 col-md-6 col-lg-4">
      <div class="tdNg-backlog-card-name-container">
        <td-grip [cardColor]="backgroundColor"></td-grip>
        <td-subtasks-icon
          [card]="card"
          (subtasksClicked)="openCardDetails('SUBTASKS')"
          class="tdNg-backlog-card-subtask white-if-selected"
        ></td-subtasks-icon>
        <div *ngIf="card.ticketID > 0" class="tdNg-backlog-card-ticket white-if-selected">
          <span
            style="cursor: pointer;"
            tdTooltip="This card has been converted from a ticket. The ticket's status will be updated based on the card's status."
            placement="top"
            class="fa fa-fw fa-ticket"
            aria-label="Created from ticket"
          ></span>
        </div>
        <div class="tdNg-backlog-card-name white-if-selected" (click)="openCardDetails()">{{ card.name }}</div>
      </div>
    </div>

    <div class="col-4 col-md-6 col-lg-8">
      <div class="tdNg-backlog-card-info-container align-items-center justify-content-end">
        <!-- Tags -->
        <div class="tdNg-backlog-card-tags" *ngIf="card.tags">
          <span *ngFor="let tag of card.tags" class="badge badge-primary gutter-right-xs text-trim tdNg-tags-badge">
            {{ tag }}
          </span>
        </div>

        <td-card-resource-icons
          [card]="card"
          [maxInlineResources]="3"
          [expandsInline]="false"
          (resourceClick)="openCardDetails()"
          class="tdNg-backlog-card-owners"
        ></td-card-resource-icons>

        <td-estimated-hours
          *ngIf="card.estimatedHours !== 0 && showEstimateHours"
          [value]="card.estimatedHours"
          class="tdNg-backlog-card-hours"
        ></td-estimated-hours>

        <span
          *ngIf="card.percentComplete > 0"
          [ngClass]="card.percentComplete >= 100 ? 'green-bg' : 'gray-bg'"
          tdTooltip="{{ card.remainingHours }} hour(s) remaining"
          placement="top"
          class="badge badge-pill badge-primary tdNg-backlog-card-percent"
          style="font-size: 13px; line-height: 1"
        >
          {{ card.percentComplete | number: '1.0-0' }}%
        </span>

        <td-story-point-indicator
          *ngIf="showStoryPoints"
          [storyPoints]="card.storyPoints"
          (storyPointsClicked)="openCardDetails()"
          class="tdNg-backlog-card-story-point"
        ></td-story-point-indicator>

        <div>
          <span (click)="archiveCard()" aria-label="Archive Card" tdTooltip="Archive Card" placement="top">
            <span aria-hidden="true" class="fa fa-archive"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
