<div class="navbar tdNg-navbar">
  <div class="tdNg-flex-row-center">
    <div class="navbar-brand tdNg-navbar-brand tdNg-cardwall-nav-title">{{ board.name }}</div>
    <td-button
      class="d-none d-md-block"
      icon="pencil"
      tooltipText="Edit Plan Name"
      cssClass="no-btn-style p-0"
      (onClick)="editBoardDialog.show()"
    ></td-button>
  </div>

  <div class="tdNg-flex-row-center">
    <td-cardwall-card-search-base class="d-none d-lg-flex" [board]="board"></td-cardwall-card-search-base>
    <div class="tdNg-navbar-hamburger-container"><td-button icon="bars"></td-button></div>
  </div>
</div>

<div
  class="modal fade"
  bsModal
  #editBoardDialog="bs-modal"
  [config]="{ keyboard: true }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-name"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="dialog-name" class="modal-title">Edit Card Wall</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editBoardDialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editBoardForm" (submit)="submitEditBoardName()">
        <div class="modal-body">
          <div class="form-group required">
            <label for="board-name" class="control-label">Name</label>
            <input
              type="text"
              id="board-name"
              class="form-control"
              formControlName="name"
              [ngClass]="{ 'is-invalid': editBoardForm.controls['name'].invalid && editBoardForm.controls['name'].touched }"
              required
            />
            <div class="text-danger" *ngIf="editBoardForm.controls['name'].invalid && editBoardForm.controls['name'].touched">
              Board name is required
            </div>
          </div>

          <div class="form-group">
            <label for="board-description" class="control-label">Description</label>
            <textarea maxlength="1500" rows="2" id="board-description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
        <div class="modal-footer justify-content-start">
          <td-button icon="save" type="submit" cssClass="btn-primary" (onClick)="editBoardDialog.hide()">Save</td-button>
          <td-button icon="times" cssClass="btn-danger" (onClick)="editBoardDialog.hide()">Cancel</td-button>
        </div>
      </form>
    </div>
  </div>
</div>
