<div class="tdNg-cardwall-cards-container" [sortablejs]="cards" [sortablejsOptions]="sortableOptions">
  <div *ngFor="let card of cards">
    <td-card-view
      [card]="card"
      [board]="board"
      [isSelected]="selectedCard !== undefined ? (selectedCard.listId === list.id ? isCardSelected(card) : false) : false"
      (archiveOrDeleteCardRequested)="archiveOrDeleteCard($event)"
      (cardSelectedRequested)="cardSelected($event)"
      (addResourceRequested)="onResourceDrop($event)"
    ></td-card-view>
  </div>
</div>
