<div class="tdNg-toolbar-resources-container">
  <div class="tdNg-toolbar-resources-header" *ngIf="resources.length > 0; else noResources">
    <div class="sidebar-section">
      Resources
      <button aria-label="Close" class="close" type="button" (click)="closeResources()" title="Close Pane">
        <span aria-hidden="true">x</span>
      </button>
    </div>

    <div class="tdNg-toolbar-content">
      <!-- Search -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search resources" (keyup)="searchResources($event)" />
        <div class="input-group-append">
          <div class="input-group-text">
            <span aria-hidden="true" class="fa fa-search fa-nopad"></span>
          </div>
        </div>
      </div>

      <div class="mt-2">
        <button class="btn btn-link" (click)="toggleShowAddResources()">Add Resources to plan</button>

        <div *ngIf="showAddResources">
          <td-add-resource [board]="board" (closeAddResources)="toggleShowAddResources()"></td-add-resource>
        </div>
      </div>

      <div class="gutter">
        <span class="text-info">
          Drag and drop a resource onto a card row to assign the resource to that card.
        </span>
      </div>

      <form [formGroup]="formGroup">
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="clearAssignments"
            id="keep-resources"
            formControlName="clearAssignments"
            [value]="false"
            checked
          />
          <label class="cursor-pointer form-check-label" for="keep-resources">
            Add resources to cards, keeping existing resources.
          </label>
        </div>

        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="clearAssignments"
            id="replace-resources"
            formControlName="clearAssignments"
            [value]="true"
          />
          <label class="cursor-pointer form-check-label" for="replace-resources">
            Reassign cards to the new resource, removing others from the card.
          </label>
        </div>
      </form>
    </div>
  </div>

  <div class="tdNg-toolbar-resources-content">
    <div *ngFor="let resource of resourcesFiltered">
      <td-toolbar-resources
        [resource]="resource"
        [plans]="[board]"
        [clearAssignments]="formGroup.controls['clearAssignments'].value"
        [selectedCard]="selectedCardReduced"
        [isSelected]="selectedResource ? selectedResource.uid === resource.uid : false"
        (selectedResource)="selectResource($event)"
      ></td-toolbar-resources>
    </div>
  </div>

  <div class="tdNg-toolbar-resources-footer"></div>

  <ng-template #noResources>
    <div class="sidebar-section">
      Resources
      <button aria-label="Close" class="close" type="button" (click)="closeResources()" title="Close Pane">
        <span aria-hidden="true">x</span>
      </button>
    </div>
    <div class="tdNg-toolbar-content">
      No resources on board
    </div>
  </ng-template>
</div>
