<div [formGroup]="cardForm">
  <td-muilt-select
    class="form-control form-control-sm"
    [inputLabel]="'Add tags'"
    [data]="possibleTags"
    [complex]="false"
    placeholder="Search Tags"
    [serverSideData]="true"
    [createOnNoMatches]="true"
    [createValue]="true"
    [noMatchesTemplate]="noMatches"
    [createOnNoMatchesTemplate]="createOnNoMatches"
    [settings]="typeaheadSettings"
    (onQuery)="selectionChange($event)"
    (valueChange)="selectedTag($event)"
    (onFocusLost)="resetTheSearch()"
    formControlName="tags"
  ></td-muilt-select>

  <ng-template #createOnNoMatches>{{ searchText }} (Tag will be created)</ng-template>

  <ng-template #noMatches>
    <span class="has-danger-message tdNg-bold">Tag {{ searchText }} is already selected</span>
  </ng-template>
</div>
