<div class="card tdNg-comp-card-margin" data-testId="plans">
  <div class="card-header tdNg-flex-row-center just plan-drag-handle" (click)="toggleExpanded()">
    <div class="tdNg-flex-row-center">
      <td-expand-collapse-glyph [isExpanded]="isExpanded"></td-expand-collapse-glyph>

      <div class="btn-link gutter-left">
        <a [href]="getProjectUrl()" target="_blank" tdTooltip="View this project in another tab" aria-expanded="false" aria-haspopup="true">
          {{ plan.projectName }}
        </a>
        /
        <a [href]="getCardwallUrl()" target="_blank" tdTooltip="View this cardwall in another tab">{{ plan.name | trimTextToLimit: 50 }}</a>
      </div>

      <td-remove-board [plan]="plan">
        <td-button icon="times" [tooltipText]="'Remove board'" ariaLabel="Remove board"></td-button>
      </td-remove-board>

      <div>
        <strong>{{ cardCount }}</strong>
      </div>
    </div>

    <div class="d-none d-md-block tdNg-backlog-project-header">
      <div class="tdNg-flex-row-center">
        <div class="text-small">{{ estimatedHours }} Est Hours</div>
        <td-story-point-indicator class="gutter-left" [storyPoints]="storyPoints" [isSummary]="true"></td-story-point-indicator>
      </div>
    </div>
  </div>

  <div *ngIf="isExpanded" class="card">
    <div *ngIf="plan.lists && plan.lists.length > 0; else planWithoutList">
      <td-backlog-list-controller [lists]="plan.lists" [projectId]="plan.projectId" [planId]="plan.id"></td-backlog-list-controller>
    </div>

    <ng-template #planWithoutList>
      <div class="alert alert-warning">
        This Card Wall does not have any active lists defined.
      </div>
    </ng-template>
  </div>
</div>
