:host {
  margin: 0;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  user-select: text;
  cursor: auto;

  .type-ahead-badge {
    white-space: nowrap;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  input {
    border: none;
    flex: 1;
    min-width: 1em;
    outline: 0;
  }

}

:host[disabled] {
  cursor: not-allowed;
  input {
    background-color: inherit;
  }
}

:host [role="menuitem"] {
  cursor: pointer;
}

:host [role="menuitem"][disabled] {
  cursor: not-allowed;
}


.dropdown {
  position: relative;

  &-menu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
    position: absolute;
    float: left;
    max-height: 260px;
    min-width: 160px;
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0 ;
    font-size: 14px;
    text-align: left;
    list-style: none;
    top: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1100;

    &.show {
      display: block;
    }
  }

  &-toggle {
    height: 100%;
    margin-top: 4px;

    &:empty::after {
      margin-left: 0;
    }

    &::after {
      display: inline-block;
      padding-bottom: 3px;
      width: 0;
      height: 0;
      vertical-align: baseline;
      content: '';
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }
  }

  &-item {
    display: flex;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: #ecf0f5;
    }

    &:focus {
      outline: none;
      background-color: #ecf0f5;
    }

  }
}

.dropdown-item:hover > .dropdown-item:focus {
  background-color: none;
}


.tdNg {

   &-button {
    background-color: #e4e7eb;
    display: flex;
    align-items: center;
    // color: #000;
    // border: 1px solid #e4e7eb;
    // margin: 1px 5px 1px 0;
  }

  &-badge {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: normal;
    text-align: center;
  }

  &-dropdown {
    &-loading {
      height: 5em;
      font-size: 10px;
    }
  }

  &-focus {

  }

}
