<td-button icon="columns" (onClick)="addCardwallsRequested(addCardwallTemplate)">Add Card Wall</td-button>
<ng-template #addCardwallTemplate>
  <div class="modal-header">
    <h3 id="dialog-name">Add Cardwalls to Backlog</h3>
    <button type="button" class="close pull-right" (click)="dialogRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!(loading$ | async); else loadingSpinner">
    <td-add-board-diagram
      [planIdentifiers]="planIdentifiers$ | async"
      (plansToAdd)="addPlansToBacklog($event)"
      (hideDialog)="dialogRef.hide()"
    ></td-add-board-diagram>
  </div>
  <ng-template #loadingSpinner>...Loading</ng-template>
</ng-template>
