<div (click)="addCardwallsRequested(addCardwallTemplate)">
  <ng-content></ng-content>
</div>

<ng-template #addCardwallTemplate>
  <div *ngIf="!(loading$ | async); else loadingSpinner">
    <td-add-board-diagram
      [planIdentifiers]="planIdentifiers$ | async"
      (plansToAdd)="addPlansToBacklog($event)"
      (hideDialog)="dialogRef.hide()"
    ></td-add-board-diagram>
  </div>
  <ng-template #loadingSpinner>
    <div class="loading-component-container">
      <span class="td-icon td-loading"></span>
    </div>
  </ng-template>
</ng-template>
