<div class="modal-header tdNg-cd-header" [ngClass]="cardBackgroundColor">
  <div class="tdNg-cd-header-name-container">
    <h3>{{ card.name }}</h3>

    <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div>
    <td-id-copy-button [itemID]="card.id" itemType="Card"></td-id-copy-button>
  </div>
</div>

<!-- Skip navigation link for accessibility -->
<div>
  <a href onclick="return false;" (click)="skipLink()" class="sr-only sr-only-focusable">Skip to main</a>
</div>

<!-- Tab Menu -->
<div class="tdNg-cd-nav-container">
  <ul class="nav nav-tabs nav-fill tdNg-tab-list" role="tablist">
    <li class="nav-item" (click)="detailPageRequested('FORM')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'FORM' }">Card</button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('FEED')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'FEED' }">Feed</button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('SUBTASKS')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'SUBTASKS' }">Subtasks ({{ card.subtasksCount }})</button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('WORK')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'WORK' }">Work</button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('ATTACHMENTS')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'ATTACHMENTS' }">
        Attachments ({{ card.attachmentsCount }})
      </button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('ISSUES')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'ISSUES' }">Issues ({{ card.issuesCount }})</button>
    </li>
    <li class="nav-item" (click)="detailPageRequested('CODE')">
      <button class="nav-link" role="tab" [ngClass]="{ active: selectedPage === 'CODE' }">Code ({{ card.codeCount }})</button>
    </li>
  </ul>
</div>

<div #content tabindex="-1">
  <ng-content></ng-content>
</div>
