<td-card-details-view [card]="card$ | async" [selectedPage]="cardDetailPage$ | async" (changeDetailsPage)="updateCardDetailPage($event)">
  <div [ngSwitch]="cardDetailPage$ | async">
    <div *ngSwitchCase="'FORM'">
      <td-edit-card-form [_card]="card$ | async" [plan]="plan$ | async"></td-edit-card-form>
    </div>
    <div *ngSwitchCase="'FEED'">
      <td-feed></td-feed>
    </div>
    <div *ngSwitchCase="'SUBTASKS'">
      <td-subtasks-base></td-subtasks-base>
    </div>
    <div *ngSwitchCase="'WORK'">
      <td-work></td-work>
    </div>
    <div *ngSwitchCase="'ATTACHMENTS'">
      <td-attachments-base></td-attachments-base>
    </div>
    <div *ngSwitchCase="'ISSUES'">
      <td-issues-base></td-issues-base>
    </div>
    <div *ngSwitchCase="'CODE'">
      <td-code></td-code>
    </div>
    <div *ngSwitchDefault>
      <td-edit-card-form></td-edit-card-form>
    </div>
  </div>
</td-card-details-view>
