<div *ngIf="list.active && list.id > 0">
  <div class="tdNg-backlog-list-container">
    <div class="tdNg-backlog-list-card-row-spacer list-drag-handle d-flex align-items-center">
      <td-expand-collapse-glyph (click)="toggleExpanded()" [isExpanded]="isExpanded"></td-expand-collapse-glyph>
      <span class="gutter-left">{{ list.title | trimTextToLimit: 90 }}</span>
      <span class="d-none d-md-flex gutter-left">{{ list.cards.length }}</span>
      <span class="d-none d-md-flex gutter-left text-small text-muted ">{{ list.id }}</span>

      <span class="btn-group" dropdown role="toolbar" container="body">
        <button role="toolbar" class="btn btn-link" aria-haspopup="true" aria-label="Toggle list options" dropdownToggle>
          <span aria-hidden="true" class="fa fa-fw fa-plus"></span>
        </button>

        <ul *dropdownMenu class="dropdown-menu tdNg-dropdown">
          <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-item">
              <span class="fa fa-fw fa-plus" aria-hidden="true"></span>
              Add New Card
            </a>
          </li>
          <li role="menuitem">
            <a href="javascript:void(0);" class="dropdown-item">
              <span class="fa fa-fw fa-tags" aria-hidden="true"></span>
              Convert Tickets to Cards
            </a>
          </li>
        </ul>
      </span>
    </div>

    <div *ngIf="isExpanded">
      <td-backlog-cards-controller
        [cards]="list.cards"
        [listInfo]="{ listId: list.id, projectId: list.projectId, planId: list.planId }"
      ></td-backlog-cards-controller>
    </div>
  </div>
</div>
