<div *ngIf="list.active && list.id > 0">
  <div class="tdNg-backlog-list-container">
    <div (click)="toggleExpanded()" class="tdNg-backlog-list-card-row-spacer list-drag-handle">
      <td-expand-collapse-glyph [isExpanded]="isExpanded"></td-expand-collapse-glyph>
      <span class="gutter-left">{{ list.title | trimTextToLimit: 90 }}</span>
      <span class="gutter-left">{{ list.cards.length }}</span>
      <span class="gutter-left text-small text-muted ">{{ list.id }}</span>
    </div>

    <div *ngIf="isExpanded">
      <ul class="list-group">
        <li class="list-group-item tdNg-backlog-card-row" *ngFor="let card of list.cards">
          <td-backlog-card [card]="card"></td-backlog-card>
        </li>
      </ul>
    </div>
  </div>
</div>
