<ul *ngIf="cards.length > 0; else noCardsAssigned" class="list-group" [sortablejs]="cards" [sortablejsOptions]="sortableOptions">
  <li *ngFor="let card of cards; odd as isOdd" class="list-style-none">
    <td-backlog-card-controller
      [card]="card"
      [plan]="plan$ | async"
      [isOwnerSelected]="cardsWithSelectedResource.length > -1 ? (cardsWithSelectedResource.indexOf(card.id) > -1 ? true : false) : false"
    ></td-backlog-card-controller>
  </li>
</ul>
<ng-template #noCardsAssigned>
  <div *ngIf="isCardsFiltered" class="list-group tdNg-no-cards-assigned" [sortablejs]="cards" [sortablejsOptions]="sortableOptions"></div>
</ng-template>
