<div class="tdNg-sidebar-container">
  <div class="sidebar-section">
    Settings
    <button class="close" aria-label="Close" (click)="closeOptions()">
      <span aria-hidden="true">x</span>
    </button>
  </div>

  <div class="tdNg-sidebar-content">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showInactiveLists"
        id="showInactiveListsCheckbox"
        (change)="changeInShowInactiveLists($event.target.checked)"
      />
      <label class="cursor-pointer form-check-label" for="showInactiveListsCheckbox">Show Inactive Lists</label>
    </div>
  </div>
</div>
