<div class="tdNg-sidebar-container">
  <div class="sidebar-section">
    Settings
    <button class="close" aria-label="Close" (click)="closeOptions()">
      <span aria-hidden="true">x</span>
    </button>
  </div>

  <div class="tdNg-sidebar-content">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showInactiveLists"
        id="showInactiveListsCheckbox"
        (change)="changeInShowInactiveLists($event.target.checked)"
      />
      <label class="cursor-pointer form-check-label" for="showInactiveListsCheckbox">Show Inactive Lists</label>
    </div>

    <div class="form-check mt-2">
      <input
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="showArchiveCards"
        id="showArchiveCardsCheckbox"
        (change)="changeInShowArchiveCards($event.target.checked)"
      />
      <label class="cursor-pointer form-check-label" for="showArchiveCardsCheckbox">Show Archived Cards</label>
    </div>
  </div>

  <div class="sidebar-section">Notifications</div>

  <div class="tdNg-sidebar-content">
    <fieldset>
      <legend class="sr-only">Notification Options</legend>
      <div class="form-check mb-2">
        <input type="radio" class="form-check-input" name="notifications" id="no-notifications" checked />
        <label class="cursor-pointer form-check-label" for="no-notifications">None</label>
      </div>
      <div class="form-check mb-2">
        <input type="radio" class="form-check-input" name="notifications" id="my-notifications" />
        <label class="cursor-pointer form-check-label" for="my-notifications">My Items</label>
      </div>
      <div class="form-check mb-2">
        <input type="radio" class="form-check-input" name="notifications" id="all-notifications" />
        <label class="cursor-pointer form-check-label" for="all-notifications">All Items</label>
      </div>
    </fieldset>
  </div>

  <div class="sidebar-section">Plan Details</div>

  <div class="tdNg-sidebar-content">
    <td-iframe-dialog [url]="planDetailsUrl" title="Plan Details" size="modal-xl" class="mb-2">
      <td-button icon="list-alt" cssClass="btn-link pl-0" (onClick)="closeOptions()">
        Details View
      </td-button>
    </td-iframe-dialog>

    <td-iframe-dialog [url]="customViewUrl" title="Custom View" size="modal-lg" class="mb-2">
      <td-button icon="filter" cssClass="btn-link pl-0" (onClick)="closeOptions()">
        Custom View
      </td-button>
    </td-iframe-dialog>

    <td-iframe-dialog [url]="priorityViewUrl" title="Plan Details" size="modal-xl" class="mb-2">
      <td-button icon="sticky-note-o" cssClass="btn-link pl-0" (onClick)="closeOptions()">
        Priority View
      </td-button>
    </td-iframe-dialog>

    <td-iframe-dialog [url]="resourceAllocationUrl" title="Resource Allocation" size="modal-xl" class="mb-2">
      <td-button icon="users" cssClass="btn-link pl-0" (onClick)="closeOptions()">
        Resource Allocation View
      </td-button>
    </td-iframe-dialog>

    <td-iframe-dialog [url]="burnDownUrl" title="Burndown Chart" size="modal-lg">
      <td-button icon="area-chart" cssClass="btn-link pl-0" (onClick)="closeOptions()">
        Burndown Chart
      </td-button>
    </td-iframe-dialog>
  </div>

  <div class="sidebar-section">Help</div>

  <div class="tdNg-sidebar-content d-flex flex-column">
    <div class="mb-2">
      <a href="https://solutions.teamdynamix.com/TDClient/KB/ArticleDet?ID=7450" target="_blank" class="sidebar-links">Security</a>
    </div>
    <div>
      <a href="https://solutions.teamdynamix.com/TDClient/KB/ArticleDet?ID=7449" target="_blank" class="sidebar-links">
        Waterfall vs. Card Wall
      </a>
    </div>
  </div>
</div>
