<div class="tdNg-backlog-container">
  <div *ngFor="let plan of plans">
    <div *ngIf="!plan.erroredDuringFetching; else boardErrorDuringFetch">
      <td-backlog-board-header [plan]="plan"></td-backlog-board-header>
    </div>

    <ng-template #boardErrorDuringFetch>
      <div class="alert alert-warning">
        <strong>Card Wall {{ plan.id }} did not load.</strong>
        <br />
        {{ plan.message }}
        <br />
        {{ plan.reason }}
      </div>
    </ng-template>
  </div>
  <div *ngIf="plans.length === 0">
    <div class="alert alert-primary" role="alert">
      No Card Walls have been selected.
      <br />
      <td-add-board-base>
        <strong class="cursor-pointer">Add an existing Card Wall</strong>
        to get started
      </td-add-board-base>
    </div>
  </div>
</div>
