<div class="modal-body dialog-box-max-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Project Name</th>
        <th>Plan Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let displayPlan of plansToDisplay"
        [ngClass]="{ 'table-success': displayPlan.isSelected }"
        (click)="updateSelectedPlans(displayPlan)"
      >
        <th scope="row"><input type="checkbox" [checked]="displayPlan.isSelected" /></th>
        <td>{{ displayPlan.plan.projectName }}</td>
        <td>{{ displayPlan.plan.planName }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <div class="dialog-box-display-left" (click)="addCardwallsToBacklog()">
    <button type="submit" class="btn btn-primary">
      <span class="fa fa-plus"></span>
      Add
    </button>

    <button type="button" class="btn btn-danger" (click)="hide()">
      <span class="fa fa-times"></span>
      Cancel
    </button>
  </div>
</div>
