<div class="tdNg-toolbar d-none d-md-inline">
  <button type="button" class="btn btn-link tdNg-toolbar-btn" tdTooltip="Shows or hides the resources sidebar" placement="left">
    <span class="fa fa-fw fa-users" aria-hidden="true"></span>
    Resources
  </button>

  <button
    type="button"
    class="btn btn-link tdNg-toolbar-btn"
    style="margin-top: 89px;"
    tdTooltip="Shows or hides the totals sidebar"
    placement="left"
  >
    <span class="fa fa-fw fa-calculator" aria-hidden="true"></span>
    Totals
  </button>

  <button
    type="button"
    class="btn btn-link tdNg-toolbar-btn"
    style="margin-top: 60px;"
    tdTooltip="Shows or hides the feed for this Card Wall"
    placement="left"
  >
    <span class="fa fa-fw fa-feed" aria-hidden="true"></span>
    Feed
  </button>
</div>
