<div class="tdNg-cardwall-toolbar-container">
  <button
    type="button"
    class="btn btn-link tdNg-cardwall-toolbar-button"
    [ngClass]="showResources ? 'active' : null"
    tdTooltip="Shows or hides the resources sidebar"
    placement="left"
    (click)="showResourcesRequested()"
  >
    <span class="fa fa-fw fa-users" aria-hidden="true"></span>
    Resources
  </button>

  <button
    type="button"
    class="btn btn-link tdNg-cardwall-toolbar-button"
    style="margin-top: 89px;"
    tdTooltip="Shows or hides the totals sidebar"
    placement="left"
  >
    <span class="fa fa-fw fa-calculator" aria-hidden="true"></span>
    Totals
  </button>

  <button
    type="button"
    style="margin-top: 60px;"
    class="btn btn-link tdNg-cardwall-toolbar-button"
    tdTooltip="Shows or hides the feed for this Card Wall"
    placement="left"
  >
    <span class="fa fa-fw fa-feed" aria-hidden="true"></span>
    Feed
  </button>
</div>

<div *ngIf="showResources">
  <td-cardwall-resources-view [resources]="resources" (closeResourcesRequested)="showResourcesRequested()"></td-cardwall-resources-view>
</div>
