.tdNg-notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 9000;
  margin-top: 60px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 400px;
  z-index: 9999;
}
