<div [formGroup]="form">
  <label for="card-cssClass" class="control-label">Color</label>
  <input type="hidden" id="card-cssClass" formControlName="cssClass" />

  <div class="tdNg-cd-color-buttons-container">
    <div *ngFor="let color of colors" class="tdNg-cd-color-buttons">
      <button
        [ngClass]="[className + color.cssClass]"
        [class.selected]="color.cssClass === chosen"
        class="btn btn-sm gutter-right-xs"
        (click)="updateCssClass(color.cssClass)"
        type="button"
      >
        <span class="sr-only">Card color {{ color.label }}</span>
        <span
          aria-hidden="true"
          class="fa"
          [ngClass]="color.cssClass === chosen ? 'fa-check-square' : 'fa-square'"
          style="margin-right: 0"
        ></span>
      </button>
    </div>
  </div>
</div>
