.tdNg {
  &-flex {
    &-row {
      &-center {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &-divider {
    border-right: 2px solid $darkGrey;
  }
}

.fa {
  &.fa-times {
    &:hover {
      color: inherit;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-white {
  background-color: #fff;
}

// bootstrap accessibility
.btn-link {
  color: $accessibleBlue;

  &:hover {
    color: $accessibleBlueHover;
  }
}

.list-style-none {
  list-style: none;
}
