html {
  height: 100%;
}

body {
  height: 100%;
}

.tdNg {
  &-flex {
    &-row {
      &-center {
        display: flex !important;
        flex-direction: row;
        align-items: center;

        &.space-between {
          justify-content: space-between;
        }

        &.space-around {
          justify-content: space-around;
        }

        &.flex-start {
          justify-content: flex-start;
        }

        &.flex-end {
          justify-content: flex-end;
        }
      }
    }
  }

  &-card-drag-over-border {
    border: 2px dashed #000 !important;
  }

  &-divider {
    border-right: 2px solid $darkGrey;
  }

  &-filter-resources-input {
    @media #{$break-wide-up} {
      min-width: 20em;
    }
  }

  &-grip {
    padding: 0 3px 0 5px;
  }

  &-priority-box {
    border: 1px solid $borderGrey;
    width: 14px;
    height: 14px;
  }

  &-resource-name {
    margin-left: 10px;
  }

  &-saving {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1800;
    padding-right: 2em;

    &-overlay {
      width: 100%;
      height: 100%;
      z-index: 1040;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

div.profile-image.board {
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
  font-size: 11px;
  border-radius: 3px;
  margin-right: 1em;
}

div.profile-image.picture > img {
  width: 28px;
  height: 28px;
}

div.profile-image.initials {
  line-height: 28px;
}

div.progress-bar {
  min-width: 5%;
}

.fa {
  &.fa-times {
    &:hover {
      color: inherit;
    }
  }
}

.sortableHeader {
  cursor: pointer;
  color: #337ab7;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-white {
  background-color: #fff;
}

.white-text {
  color: #fff !important;
}

// bootstrap accessibility
.btn-link {
  color: $accessibleBlue;

  &:hover {
    color: $accessibleBlueHover;
  }
}

.list-style-none {
  list-style: none;
}

.border-left-none {
  border-left: none;
}

.text-trim {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-small {
  font-size: 75%;
}

.no-padding {
  padding: 0;
}

.priority {
  &-high {
    color: $priority-high;
    background: $priority-high;
    cursor: default;
  }

  &-med-high {
    color: $priority-med-high;
    background: $priority-med-high;
    cursor: default;
  }

  &-med {
    color: $priority-med;
    background: $priority-med;
    cursor: default;
  }

  &-med-low {
    color: $priority-med-low;
    background: $priority-med-low;
    cursor: default;
  }

  &-low {
    color: $priority-low;
    background: $priority-low;
    cursor: default;
  }
}

.min-iFrame-height {
  min-height: 600px;
}

// Override ng-select styles
.ng-select.select-sm {
  min-height: 0;
}

.ng-select.select-sm .ng-select-container {
  height: calc(1.8125rem + 2px) !important;
  font-size: .875rem;
  line-height: 1.5;
  min-height: 0;
}
