.tdNg {
  &-flex {
    &-row {
      &-center {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &-divider {
    border-right: 2px solid $darkGrey;
  }
}

.fa {
  &.fa-times {
    &:hover {
      color: inherit;
    }
  }
}
