.tdNg {
  &-backlog {
    &-container {
      padding: 1em;

      ul {
        list-style-position: inside;
      }
    }

    &-list {
      &-container {
        margin: 0 1em;
        padding: 1em 0;

        @media #{$break-narrow-up} {
          margin: 0 2em;
        }
      }

      &-card-row-spacer {
        margin-bottom: 0.5em;
      }
    }

    &-toolbar {
      display: none;

      @media screen and (min-width: 1215px) {
        display: block;
      }
    }

    &-card {
      &-row {
        border-radius: 0 !important;
        margin-bottom: 3px;
        border: solid 1px $highlightGrey;
        display: flex;
        justify-content: space-between;
      }
    }

    &-dragging-overlay {
      &-blue {
        position: relative;
        ::after {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          left:0;
          background: $dragging-blue;
          opacity: 1;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
        }
      }
    }

    &-grip {
      padding: 0 3px 0 5px;
      border-right: solid 1px $grey;
    }
  }
}
