.tdNg {
  &-backlog {
    &-container {
      padding: 1em;

      ul {
        list-style-position: inside;
      }
    }

    &-list {
      &-container {
        margin: 0 1em;
        padding: 1em 0;

        @media #{$break-narrow-up} {
          margin: 0 2em;
        }
      }

      &-card-row-spacer {
        margin-bottom: 0.5em;
      }
    }

    &-toolbar {
      display: none;

      @media screen and (min-width: 1215px) {
        display: block;
      }
    }

    &-card {
      &-row {
        border-radius: 0 !important;
        margin-bottom: 3px;

      }
    }
  }
}
