.tdNg {
  &-cd {
    &-header {
      display: flex;
      flex-direction: column;

      &-name-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 1em 0;
      }

      &-title {
        font-size: 24px;
      }
    }

    &-form-group-margin {

      .form-group{
        margin-bottom: 10px !important;
      }
    }

    &-color-buttons {

      & button.selected {
        border: 1px solid #000;
      }

      &-container {
        display: flex;
      }
    }

    &-nav-container {
      padding: 1em 0 0 0;

      @media #{$break-wide-up} {
        padding: 1em 1em 0;
      }
    }
  }

  &-iframe-wrapper {
    overflow: hidden;
    min-height: 493px;

    iframe {
      min-height: 493px;
      padding-bottom: 1em;
    }
  }

  &-subtasks {
    &-container {
      height: 465px;

      &.has-subtasks {
        border-top: 1px solid $grey;
      }

      ul {
        padding: 0;
      }
    }
  }

  &-subtask {
    &-container {
      display: flex;
      border-bottom : 1px solid $grey;
      padding: 0.5em 0;
      align-items: center;

      &:hover {
        background-color: $lightGrey;
      }

      &.editing {
        align-items: flex-start;
      }
    }

    &-grip-container {
      display: flex;
      align-items: center;
    }

    &-edit {
      flex: 1;
    }
  }

  &-tab-list {

    button {
      width: 100%;
    }

    @media #{$break-wide-up} {
      flex-direction: row;
    }

    .nav-link {
      border-bottom: 1px solid #dee2e6 !important;
      &.active {
        border-bottom: 1px solid transparent !important;
      }
    }
  }
}

