.tdNg {
  &-card-color {
    &-default {
      background-color: $lightGrey;
    }

    &-primary {
      background-color: $card-primary;
    }

    &-success {
      background-color: $card-success;
    }

    &-info {
      background-color: $card-info;
    }

    &-warning {
      background-color: $card-warning;
    }

    &-danger {
      background-color: $card-danger;
    }
  }

  &-card {
    &-owners {

      &-container {
        display: flex;
        flex-direction: row;
      }
    }

    &-selected {
      background: $highlightBlue !important;

      .white-if-selected {
        color: #fff !important;
      }
    }
  }

  &-subtasks {
    &-completed {
      color: $bootstrapSuccess;
    }
  }

  &-tags {
    &-badge {
      background-color: $info;
    }
  }

  &-no-cards-assigned {
    background: $background;
    border: 1px dashed $accessibleBlueHover;
    border-radius: 5px;
    padding: 1em;

    &::after {
      content: 'Drop cards here to assign them to this list';
      color: $tdGrey;
      margin-left: 2em;
    }
  }
}

.owner-selected {
  border: 2px solid $highlightBlue;
}
