.tdNg {
  &-card-color {
    &-default {
      background-color: $lightGrey;
    }

    &-primary {
      background-color: $card-primary;
    }

    &-success {
      background-color: $card-success;
    }

    &-info {
      background-color: $card-info;
    }

    &-warning {
      background-color: $card-warning;
    }

    &-danger {
      background-color: $card-danger;
    }
  }

  &-card {
    &-owners {

      &-container {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &-subtasks {
    &-completed {
      color: $bootstrapSuccess;
    }
  }

  &-tags {
    &-badge {
      background-color: $info;
    }
  }
}
