.tdNg {
  &-cd {
    &-header {
      display: flex;
      flex-direction: column;

      &-name-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 1em 0;
      }
    }

    &-form-group-margin {

      .form-group{
        margin-bottom: 10px !important;
      }
    }

    &-color-buttons {

      & button.selected {
        border: 1px solid #000;
      }

      &-container {
        display: flex;
      }
    }
  }
}
