div.profile-image {
  &.dropdown {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    border-radius: 3px;
    margin-right: 3px;
    &.initials {
      line-height: 20px;
      text-align: center;
      color: white;
      margin-right: 3px;

      &.system {
        font-size: 14px;
      }
    }

    img {
      width: 20px !important;
      height: 20px !important;
      margin-bottom: 3px;
    }
  }
}
