.tdNg {
  &-toolbar {
    position: fixed;
    right: 0;
    top: 50px;
    height: 100%;
    width: 28px;
    background-color: $lightGrey;
    border: 1px $grey solid;
    z-index: 42;
    display: inline;

    &-btn {
      -webkit-transform-origin: top left; /* Chrome, Safari, Opera */
      transform-origin: top left;

      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);

      height: 28px;
      width: 125px;
      margin-left: 28px;

      border-radius: 0;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: none;
      }


      &.active {
        background-color: $toolbarBlue;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }

    &-content {
      padding: 1em;
      &.border-bottom {
        border-bottom: 1px solid $highlightGrey;
      }
    }

    &-resources {
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      right: 31px;
      bottom: 0;
      top: 315px;
      width: 328px;

      &-container {
        position: fixed;
        top: 50px;
        right: 27px;
        width: calc(100% - 28px);
        height: 100%;
        z-index: 100;
        background: $background;
        border-right: 1px solid $grey;

        @media #{$break-narrow-up} {
          width: 350px;
          border-left: 1px solid $grey;
        }
      }

      &-row {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        border: 1px solid $highlightGrey;
        margin: 1px 0 2px;
        padding: 6px 0;
        background-color: $background;
        position: relative;

        &.selected {
          border: 2px solid $highlightBlue;
        }
      }

      &-top-div {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-bottom-div {
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-totals {
      &-content {
        border-bottom: 1px solid $highlightGrey;
        padding: 1em;
      }
    }
  }
}
